.work-container {
  width: 100%;
  padding: 0 1rem;
  background: black;
}
.project-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
}

.project-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding-bottom: 5rem;
}

.project-card {
  background: #1a1919;
  padding: 1.2rem 1rem;
  min-height: 550px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.project-card::-webkit-scrollbar {
  display: none;
}

.project-card img {
  flex: 1;
  width: 100%;
}

.project-title {
  flex: 1;
  color: white;
  padding: 1rem 0;
}

.pro-details {
  flex: 1;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pro-details p {
  padding-bottom: 1rem;
  font-size: 1.1rem;
  text-align: justify;
}

.pro-btns {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.pro-btns a {
  width: 110px;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
} 

.loading {
  height: 120px;
  width: 120px;
  border: 6px solid;
  border-color: gold transparent gold transparent;
  margin: auto;
  border-radius: 50%;
  animation: spin 1.2s ease infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 950px) {
  .project-container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 740px) {
  .project-container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
  }
  .project-card {
    height: 600px;
  }
}